.title {
  text-align: center;
}

.form {
  border: solid 1px;
  padding: 5px;
  margin: auto;
  max-width: 300px;
}

.row {
  max-width: 400px;
  margin: auto;
}

.list {
  padding: 5px;
  margin: auto;
  max-width: 500px;
}

.list-record {
  display: flex;
  justify-content: space-between;
}

.text-title {
  margin: 0;
}

.col-6 {
  padding: 5px;
  max-width: 54%;
  display: inline-block;
}

.element {
  border: solid 1px;
  margin: 2px;
}

.button {
  text-align: center;
  margin: 20px auto 10px;
}
